html {
  height: 100vh;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 157, 196, 0.37);
  height: 100%;
  width: 100%;
}
grid {
  margin: 0;
}
#board-container {
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 0px 10px;
  aspect-ratio: 1/1;
}
.grid-container {
  margin: 0;
  display: grid;
}

.grid-cell {
  display: flex;
  border-right: 1px solid black;
  border-top: 1px solid black;
  gap: 0;
  margin: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: rgba(82, 79, 79, 0.322);
}
.grid-cell:nth-child(10n + 1) {
  border-left: 1px solid black;
}
.grid-cell:nth-child(n + 91) {
  border-bottom: 1px solid black;
}
.grid-cell:hover {
  cursor: pointer;
  background-color: rgba(242, 242, 242, 0.9);
}
.grid-cell-marker {
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
}

#gameBoard {
  aspect-ratio: 1/1;
  /* border-bottom: 1px solid black;
  border-right: 1px solid black; */
  grid-template-columns: repeat(10, 1fr);
  grid-column: 1;
  grid-row: 2;
  background-color: aliceblue;
}

#attack-board {
  aspect-ratio: 1/1;
  /* border-bottom: 1px solid black;
  border-right: 1px solid black; */
  grid-template-columns: repeat(10, 1fr);
  grid-column: 2;
  grid-row: 2;
  background-color: aliceblue;
}

#alphaMarkers {
  grid-template-rows: repeat(10, 1fr);
  grid-column: 1;
  grid-row: 2/3;
  height: 100%;
  justify-content: end;
  align-items: center;
}

#alphaMarkers > div {
  margin-right: 1rem;
}

#numMarkers {
  grid-template-columns: repeat(10, 1fr);
  grid-row: 1;
  grid-column: 1;
  height: 100%;
  justify-content: end;
  align-items: end;
}

#numMarkers > div {
  aspect-ratio: 1/1;
}

#ships {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr);
  grid-column: 2;
  justify-content: start;
  align-items: start; */

  aspect-ratio: 1/1;
  grid-template-columns: repeat(10, 1fr);
  grid-column: 2;
  grid-row: 2;

  /* padding: 10px; */
}
.ship {
  display: grid;
  padding: 0;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 1fr;
}

.ship-horizontal {
  grid-column: span 5;
}
.ship-vertical {
  grid-column: span 2;
}
/* #destroyer {
  grid-row: 2;
}
#cruiser {
  grid-row: 2;
}
#submarine {
  grid-row: 3;
}
#carrier {
  grid-row: 4;
}
#battleship {
  grid-row: 3;
} */
.ship-cell-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  grid-row: 2;
  margin-top: 10px;
}
.ship-cell-container-rotated {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-auto-flow: column;
}
.ship-cell-container:hover {
  cursor: pointer;
}
.ship-cell {
  margin: 0;
  background-color: rgb(228, 238, 247);
  aspect-ratio: 1/1;
  width: 100%;
}

.ship-cell-horizontal {
  border-left: 1px solid rgb(119, 119, 238);
  border-bottom: 1px solid rgb(119, 119, 238);
  border-top: 1px solid rgb(119, 119, 238);
}
.ship-cell-horizontal:last-of-type {
  border-right: 1px solid rgb(119, 119, 238);
}
.ship-cell-vertical {
  grid-column: 2;
  border-left: 1px solid rgb(119, 119, 238);
  border-right: 1px solid rgb(119, 119, 238);
  border-top: 1px solid rgb(119, 119, 238);
}
.ship-cell-vertical:last-of-type {
  border-bottom: 1px solid rgb(119, 119, 238);
}
.label {
  display: flex;
  align-items: center;
  text-align: left;
}
.label-rotated {
  justify-content: right;
  align-items: end;
  text-align: right;
}
#ship-options {
  display: grid;
  gap: 0px;
  margin-top: 10px;
  padding: 0;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  grid-column: span 10;
  margin-bottom: 10px;
  margin-top: 10px;
}
#ship-options > div {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  margin: 5px;
  background-color: aliceblue;
}
#ship-options > div:hover {
  cursor: pointer;
}
.occupied {
  background-color: aqua;
}
.occupied:hover {
  background-color: aqua;
}
.hidden {
  visibility: hidden;
}
#rotate {
  margin-top: 10px;
  margin-bottom: 100px;
  margin-left: 50px;
  grid-column: 2;
  grid-row: 2;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#rotate > div:hover {
  cursor: pointer;
}
.start-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  grid-column: 1/3;
  grid-row: 1/3;
  font-size: 3rem;
}

.start-button {
  padding: 1rem 5rem;
  border: 1px solid black;
  background-color: rgb(221, 221, 221);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-transform: uppercase;
}
.start-button:hover {
  cursor: pointer;
  background-color: white;
}

.display-container {
  display: flex;
  flex-direction: column;
  grid-row: 1;
  grid-column: 1/3;
  align-items: center;
  justify-content: end;
  text-align: center;
  font-size: 3rem;
  height: 100%;
  color: rgb(86, 102, 117);
}
#transition-screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: grey;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  color: white;
}
.transition-screen-hide {
  top: -100%;
}
.transition-screen-reveal {
  top: 0;
}
#transition-screen-message {
  font-size: 3rem;
  margin-bottom: 3rem;
}
#transition-screen-message > {
  font-size: 3rem;
}
#transition-screen-button {
  padding: 1rem 5rem;
  border: 1px solid black;
  background-color: rgb(221, 221, 221);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-transform: uppercase;
  color: black;
  font-size: 2rem;
}
#transition-screen-button:hover {
  cursor: pointer;
  background-color: white;
}
.targeting {
  background-color: rgba(226, 148, 148, 0.404);
}
.attacked-hit {
  background-color: rgba(223, 29, 29, 0.671);
}
.attacked {
  background-color: rgba(148, 139, 139, 0.664);
}
#attack-confirm-button {
  justify-self: center;
  align-self: baseline;
  grid-column: 2;
  grid-row: 3;
  padding: 1rem 2rem;
  border: 1px solid black;
  background-color: rgb(221, 221, 221);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-transform: uppercase;
}
#attack-confirm-button:hover {
  cursor: pointer;
  background-color: white;
}
